<div class="px-0 container-fluid d-none d-lg-block">
<div id="carouselExampleAutoplaying" 
class="carousel slide" 
data-bs-ride="carousel">
  
  
  
                  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#008b8b"/>
            </svg>
            <div class="carousel-caption d-none d-md-block">
        <h5>Conheça os cursos do Sheldon</h5>
        <p>Aprenda a construir sites responsivos</p>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#2a52be"/>
            </svg>
            <div class="carousel-caption d-none d-md-block">
        <h5>Siga-nos pela a rede social</h5>
        <p>Vamos criar uma teoria!</p>
      </div>
    </div>
    <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#9932cc "/>
            </svg>
          <div class="carousel-caption d-none d-md-block">
        <h5>Toc, Toc, Toc!</h5>
        <p>Penny! Penny! Penny!</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>