<footer class="bg-dark py-4 mt-5">
        <div class="container-fluid text-white">
            <div class="row justify-content-center"> 
                <div class="col-2 lg- 2 text-left">
                    <h5 class= "text-uppercase fw-bold text-info">  Onde Queremos Chegar</h5>
                    <p> 
                    .loren ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
                    </p>
                </div>
                <div class="col-4 lg-4text-left">
                    <h5 class= "text-uppercase fw-bold text-info"> Quem somos?</h5>
                    <p> 
                    .loren ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
                    </p>
                </div>
                
                <div class="col-2 text-left">
                    <h5 class= "text-uppercase fw-bold text-info"> Siga-nos nas redes!</h5>
                    <p>
                    <i class="fa-brands fa-youtube"></i>
                    <a href="#" class="text-white" style=" text-decoration:none;">Youtube</a>
                    </p>
                    <p>
                    <i class="fa-brands fa-github-alt"></i>
                    <a href="#" class="text-white" style=" text-decoration:none;">GitHub</a>
                    </p>
            
                    <h5 class= "text-uppercase fw-bold text-info">MIAU</h5>
                    <p> 
                    <i class="fa-solid fa-cat">MEAU</i>
                    </p>

                </div>
            </div>
        </div>
    </footer>