<footer class="bg-dark py-4 mt-5 {{ var_position }}">
    <div class="container text-white">
        <div class="row justify-content-center gy-4 text-center text-md-start"> 
            
            <div class="col-12 col-md-3">
                <h5 class="text-uppercase fw-bold text-info">Onde Queremos Chegar</h5>
                <p class="small"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
                </p>
            </div>

            <div class="col-12 col-md-5">
                <h5 class="text-uppercase fw-bold text-info">Quem somos?</h5>
                <p class="small"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
                </p>
            </div>
            
            <div class="col-12 col-md-4">
                <h5 class="text-uppercase fw-bold text-info mb-3">Siga-nos nas redes!</h5>
                <p class="mb-2">
                    <i class="fa-brands fa-youtube text-danger me-2"></i>
                    <a href="#" class="text-white text-decoration-none">Youtube</a>
                </p>
                <p class="mb-3">
                    <i class="fa-brands fa-github me-2"></i>
                    <a href="#" class="text-white text-decoration-none">GitHub</a>
                </p>
        
                <h5 class="text-uppercase fw-bold text-info mt-3">MIAU</h5>
                <p> 
                    <i class="fa-solid fa-cat me-2"></i> MEAU
                </p>
            </div>

        </div>
    </div>
</footer>